@media (max-width: 678px) {
  .row {
    flex-direction: column;
    align-items: center; } }
@media (max-height: 768px) {
  .img-logo {
    max-width: 60% !important; }

  .heading__main {
    font-size: 1.6rem !important; }

  .heading__sub {
    font-size: 1.3rem !important; }

  .heading__text {
    font-size: 1rem !important; } }
@media (max-width: 600px) {
  .heading__main {
    font-size: 1.6rem !important; }

  .heading__sub {
    font-size: 1.3rem !important; }

  .heading__text {
    font-size: 1rem !important; } }
@media (max-width: 978px) {
  .img-logo {
    max-width: 80% !important; }

  .heading__main {
    font-size: 3rem !important; }

  .heading__sub {
    font-size: 2rem !important; }

  .heading__text {
    font-size: 1.3rem !important; } }
/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  min-width: 100%;
  font-family: "Oxygen", sans-serif;
  font-weight: 300; }

/* NAVIGATION */
.navbar {
  background-color: #252525; }
  .navbar .navlogo,
  .navbar .navbutton,
  .navbar .nav-link:hover,
  .navbar .dropdown-item:hover {
    color: #99124a;
    background: none; }
  .navbar .navlogo {
    font-size: 2rem;
    font-weight: 700; }
  .navbar .nav-link,
  .navbar .dropdown-item {
    color: #00b7ff; }
  .navbar .nav-link {
    font-size: 2rem;
    text-transform: capitalize;
    transition: all .3s; }
  .navbar .dropdown-menu {
    background-color: #252525;
    font-size: 1.6rem; }
  .navbar .dropdown-item {
    transition: all .3s; }

/* HEADER */
.main-header {
  min-height: 82vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header-image-wide-2-min.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  max-height: 800px;
  display: flex;
  align-items: center; }
  .main-header .img-logo {
    width: 460px; }
  .main-header .info {
    display: flex;
    align-items: center; }
  .main-header .heading {
    text-align: center; }
    .main-header .heading__main {
      color: #2ac1fd;
      text-transform: uppercase;
      font-size: 4rem;
      letter-spacing: 10px;
      font-weight: 100;
      padding-bottom: 1rem;
      border-bottom: 1px solid orangered; }
    .main-header .heading__sub {
      text-transform: capitalize;
      color: #cc1863;
      display: block;
      margin-top: 1rem;
      font-size: 2.8rem;
      letter-spacing: 5px;
      margin-bottom: 1rem; }
    .main-header .heading__text {
      color: #2ac1fd;
      font-size: 1.8rem; }
      .main-header .heading__text a {
        text-decoration: none;
        color: #cc1863; }

/* FOOTER */
.main-footer {
  background-color: #252525;
  color: #99124a;
  padding: 3rem 0;
  text-align: center; }
  .main-footer__text {
    font-size: 1.8rem;
    letter-spacing: .2rem;
    margin-bottom: 0 !important; }

.contact__list {
  list-style: none; }
.contact__item {
  display: inline-block; }
  .contact__item:not(:last-child) {
    margin-right: 2rem; }
.contact__link {
  color: #00b7ff; }
