/* MEDIA */
@media (max-width: 991px) {
  .heading__main {
    font-size: 3rem !important;
  }

  .heading__sub {
    font-size: 2.5rem !important;
  }

  .heading__text {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 678px) and (orientation: landscape) {
  .img-logo {
    max-width: 60% !important;
  }

  .row.custom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading__main {
    font-size: 2rem !important;
  }

  .heading__sub {
    font-size: 1.8rem !important;
  }

  .heading__text {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 678px) {
  .main-footer__text {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 360px) and (orientation: landscape) {
  .heading__main {
    font-size: 2rem !important;
    letter-spacing: 5px;
  }

  .heading__sub {
    font-size: 1.8rem !important;
  }

  .heading__text {
    font-size: 1.4rem !important;
  }

  .main-footer__text {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 360px) {
  .heading__main {
    font-size: 2rem !important;
    letter-spacing: 5px;
  }

  .heading__sub {
    font-size: 1.9rem !important;
  }

  .heading__text {
    font-size: 1.4rem !important;
  }

  .nav-link {
    font-size: 1.6rem !important;
  }

  .main-footer__text {
    font-size: 1.3rem !important;
  }
}

$main-color: #cc1863;
$secondary-color: #2ac1fd;
$battleground-color: #252525;

/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 100%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  background-color: $battleground-color;
}

/* NAVIGATION */

.navbar {
  background-color: $battleground-color;

  .navlogo,
  .navbutton,
  .nav-link:hover,
  .dropdown-item:hover {
    color: $main-color;
    background: none;
  }

  .navlogo {
    font-size: 2rem;
    font-weight: 700;
  }

  .nav-link,
  .dropdown-item {
    color: $secondary-color;
  }

  .nav-link {
    font-size: 2rem;
    text-transform: capitalize;
    transition: all 0.3s;
  }

  .dropdown-menu {
    background-color: $battleground-color;
    font-size: 1.6rem;
  }

  .dropdown-item {
    transition: all 0.3s;
  }
}

/* HEADER */

.main-header {
  min-height: 83.4vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/header-image-wide-2-min.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: 800px;
  display: flex;
  align-items: center;

  .img-logo {
    padding: 4rem;
    width: 460px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .heading {
    text-align: center;

    &__main {
      color: $secondary-color;
      text-transform: uppercase;
      font-size: 5rem;
      letter-spacing: 8px;
      font-weight: 100;
      padding-bottom: 1rem;
      border-bottom: 1px solid orangered;
    }

    &__sub {
      text-transform: capitalize;
      color: $main-color;
      display: block;
      margin-top: 1rem;
      font-size: 2.8rem;
      letter-spacing: 5px;
      margin-bottom: 1rem;
    }

    &__text {
      color: $secondary-color;
      font-size: 2rem;

      a {
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}

/* FOOTER */

.main-footer {
  background-color: $battleground-color;
  color: $main-color;
  padding: 2rem 0;
  text-align: center;

  &__text {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0 !important;
  }
}

.contact {
  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    color: $secondary-color;
  }
}
