*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
}

body {
	font-family: $font-raleway;
	font-size: 100%;
	color: $white-color;
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}

a {
	text-decoration: none;
	color: $dark-color;
}

