*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.container {
  max-width: 130rem;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;
  position: relative; }

.header {
  height: 100vh; }
  .header__logo {
    display: block;
    width: 37rem;
    height: 37rem;
    background-color: #68cbc5;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -7%;
    bottom: 60%; }
    @media only screen and (max-width: 1500px) {
      .header__logo {
        width: 29.6rem;
        height: 29.6rem;
        left: 2%;
        bottom: 50%; } }
  .header__text {
    color: #68cbc5;
    font-size: 2.8rem;
    font-weight: 500;
    position: absolute;
    z-index: 5;
    bottom: 82.5%;
    left: 1%; }
    @media only screen and (max-width: 1500px) {
      .header__text {
        font-size: 2.2rem;
        left: 8.5%;
        bottom: 68%; } }
    .header__text-primary {
      font-size: 4.8rem;
      font-weight: 900;
      letter-spacing: 2.5px;
      color: #fff; }
      @media only screen and (max-width: 1500px) {
        .header__text-primary {
          font-size: 3.8rem; } }
    .header__text-secondary {
      padding-left: 29rem; }
  .header__image-out, .header__image-screen {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%); }
  .header__image-out {
    width: 95%;
    bottom: 0;
    z-index: 3; }
    @media only screen and (max-width: 1500px) {
      .header__image-out {
        width: 80%; } }
  .header__image-screen {
    width: 79%;
    bottom: 3%;
    z-index: 0; }
    @media only screen and (max-width: 1500px) {
      .header__image-screen {
        width: 66%; } }
