*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.section-container {
  max-width: 97rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.header {
  height: 100vh;
  padding-top: 13.5rem;
  margin-bottom: 14rem; }
  @media only screen and (max-width: 1600px), (max-height: 900px) {
    .header {
      padding-top: 8.5rem; } }
  .header__container {
    max-width: 128.8rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative; }
  .header__logo {
    display: block;
    width: 37rem;
    height: 37rem;
    background-color: #68cbc5;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -9rem;
    bottom: 57rem; }
    @media only screen and (max-width: 1600px), (max-height: 900px) {
      .header__logo {
        width: 29.6rem;
        height: 29.6rem;
        left: 3rem;
        bottom: 48rem; } }
  .header__text {
    color: #68cbc5;
    font-size: 2.8rem;
    font-weight: 500;
    position: absolute;
    z-index: 5;
    left: 1rem;
    bottom: 78.2rem; }
    @media only screen and (max-width: 1600px), (max-height: 900px) {
      .header__text {
        font-size: 2.2rem;
        left: 11rem;
        bottom: 65rem; } }
    .header__text-primary {
      font-size: 4.8rem;
      font-weight: 900;
      letter-spacing: 2.5px;
      color: #fff; }
      @media only screen and (max-width: 1600px), (max-height: 900px) {
        .header__text-primary {
          font-size: 3.8rem; } }
    .header__text-secondary {
      padding-left: 29rem; }
  .header__image-out, .header__image-screen {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%); }
  .header__image-out {
    width: 95%;
    bottom: 0;
    z-index: 3; }
    @media only screen and (max-width: 1600px), (max-height: 900px) {
      .header__image-out {
        width: 80%; } }
  .header__image-screen {
    width: 79%;
    bottom: 2.5rem;
    z-index: 0; }
    @media only screen and (max-width: 1600px), (max-height: 900px) {
      .header__image-screen {
        width: 66%; } }

.section-info {
  height: 100vh; }

.info-list {
  padding-left: 12.5rem; }
  .info-list__header {
    font-size: 4.8rem;
    font-weight: 900;
    color: #68cbc5;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 1600px), (max-height: 900px) {
      .info-list__header {
        font-size: 4rem; } }
    .info-list__header::before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #68cbc5;
      float: left;
      margin-right: 3rem;
      margin-top: 2rem;
      margin-left: -5rem; }
  .info-list__text {
    font-size: 2rem;
    color: #808080;
    margin-bottom: 4rem; }
