.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthbar {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  background-color: #eee;
  margin: auto;
  transition: width 500ms;
}

.health {
  height: 100%;
  border-radius: 5px 2px 2px 5px;
  background-color: green;
  color: white;
  transition: width 0.5s;
}

.controls,
.log {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px #ccc;
}

.attack-score {
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  left: 15px;
  bottom: 35px;
  font-style: italic;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

.log ul {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}

.log ul li {
  margin: 5px;
}

.log ul .player-turn {
  color: #3a137a;
  background-color: #e4e8ff;
}

.log ul .monster-turn {
  color: #c8206f;
  background-color: #ffd4d5;
}

button {
  font-size: 20px;
  background-color: #eee;
  padding: 12px;
  box-shadow: 0 1px 1px black;
  margin: 10px;
  outline: none;
}

.fix {
  position: relative;
}

#start-game {
  background-color: #aaffb0;
}

#start-game:hover {
  background-color: #76ff7e;
}

#attack {
  background-color: #ff7367;
}

#attack:hover {
  background-color: #ff3f43;
}

#special-attack {
  background-color: #ffaf4f;
}

#special-attack:hover {
  background-color: #ff9a2b;
}

#heal {
  background-color: #aaffb0;
}

#heal:hover {
  background-color: #76ff7e;
}

#give-up {
  background-color: #ffffff;
}

#give-up:hover {
  background-color: #c7c7c7;
}
