/* MAP 
	#ABOUT
*/

/* #FONTS */

@font-face {
  font-family: "Big John";
  src: url("../fonts/BigJohn.otf");
}

@font-face {
  font-family: "Slim Joe";
  src: url("../fonts/Slim+Joe.otf");
}

::-webkit-input-placeholder {
  color: rgba(60, 73, 85, 0.3);
}
::-moz-placeholder {
  color: rgba(60, 73, 85, 0.3);
} /* Firefox 19+ */
:-moz-placeholder {
  color: rgba(60, 73, 85, 0.3);
} /* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(60, 73, 85, 0.3);
}
/* #COMMON */

* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.btn {
  font-family: "Slim Joe";
  background: none;
  border: 2px solid;
  border-radius: 2px;
  font-weight: 900;
  text-align: center;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
}

.btn--green {
  border-color: #48bf72;
  color: #48bf72;
}

.btn--green:hover {
  background-color: #48bf72;
  color: #fff;
}

.btn--grey {
  color: #2f3841;
  border-color: #2f3841;
}

.btn--grey:hover {
  background-color: #2f3841;
}

.cf {
  clear: both;
}

.cf::before,
.cf::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}
/* #HEADER */

.main-header {
  padding-top: 35px;
  padding-bottom: 180px;
  background: #fff url("../img/computer.jpeg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  color: #fff;
}

.main-header::after,
.about::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(60, 73, 85, 0.8);
}

.logo a {
  display: block;
}

.main-header__menu {
  float: right;
  line-height: 4;
}

.main-header__menu ul {
  list-style: none;
}

.upper_row {
  /* background: red; */
  margin-bottom: 150px;
}

.logo,
.main-header__menu,
.main-header__menu ul li {
  display: inline-block;
}

.main-header__menu ul li a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato";
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.main-header__menu ul li a:hover {
  color: #48bf72;
  border-bottom: 2px solid #48bf72;
  padding-bottom: 0.5em;
}

.main-header__menu ul li:not(:last-child):after {
  content: "/";
  display: inline-block;
  margin: 0 40px;
}

.main-header__content {
  text-align: center;
}

.main-header h1,
.main-header h2 {
  margin-top: 0;
}

.main-header h1 {
  font-family: "Big John";
  font-size: 42px;
}

.main-header h2 {
  font-family: "Slim Joe";
  font-size: 30px;
  margin-bottom: 35px;
}

/* #ABOUT */

.about {
  background: #fff url(../img/men-computer.jpg) no-repeat;
  background-size: cover;
  padding: 90px 0;
  position: relative;
}

.author {
  max-width: 50%;
  color: #fff;
  float: right;
}

.author h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.author__description,
.author__text {
  margin: 0 0 25px;
}

.author__text {
  padding-right: 25%;
  line-height: 1.5;
}

/* #CONTACTS */

.contacts {
  padding: 50px 0;
  max-width: 690px;
  margin: 0 auto;
}

.contacts__heading > * {
  color: #48bf72;
  text-transform: uppercase;
  font-family: "Big John", sans-serif;
  font-size: 26px;
  text-align: center;
}

.contacts_form {
  padding: 50px 0;
}

.row,
.user-input {
  margin-bottom: 30px;
}

.contacts__label {
  display: block;
  width: 50px;
  background-color: #2f3841;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
}

.contacts__label::after {
	content: "";
	display: block;
	position: absolute;
	right: -20px;
	border: 8px solid transparent;
	border-left-color: #2f3841;

	top: 50%;
	transform: translateY(-50%);
}

.contacts__label[for="message"]::after {
	top:23px;
}

.contacts__label[for="name"] {
  background-image: url(../img/user.svg);
}

.contacts__label[for="email"] {
  background-image: url(../img/mail.svg);
}

.contacts__label[for="message"] {
	background-image: url(../img/crayon.svg);
	background-position: 50% 18px;
}

.user-input {
  min-width: 320px;
  width: 330px;
}

.user-input:first-child {
  float: left;
}

.user-input:nth-child(2) {
  float: right;
}

.user-input > * {
  height: 50px;
}

.user-input > *,
.user-textarea > * {
  float: left;
  border: 2px solid #2f3841;
}

.user-textarea > * {
	height: 225px;
}

.contacts__input,
.contacts__textarea {
	background-color: #f1f1f1;
  width: calc(100% - 50px);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 23px;
	font-weight: 700;
	outline: transparent;
}

.contacts__textarea {
	padding: 14px 0 23px 23px;
	overflow: auto;
}
