.carousel-item {
	height: 350px;
}

.carousel-img-1 {
	background-image: linear-gradient(to right bottom,
		rgba($color-primary-light, 0.6),
		rgba($color-primary-dark, 0.6)),
		url(../img/img-car-1.png);
}

.carousel-img-2 {
	background-image: linear-gradient(to right bottom,
		rgba($color-primary-light, 0.6),
		rgba($color-primary-dark, 0.6)),
		url(../img/img-car-2.png);
}

.carousel-img-3 {
	background-image: linear-gradient(to right bottom,
		rgba($color-primary-light, 0.6),
		rgba($color-primary-dark, 0.6)),
		url(../img/img-car-3.png);
}

.carousel-img-1,
.carousel-img-2,
.carousel-img-3 {
	background-size: cover;
}