body {
  padding: 25px;
  color: #000;
}

input {
  width: 250px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid;
}

ul {
  list-style: disc;
}

ul li {
  cursor: pointer;
  margin-bottom: 10px;
}

.strike {
  text-decoration: line-through;
}
