/*  MAP
 #COMMON_LINKS
 #HEADER
 #MAIN_SECTION
 #FEATURED_SECTION
 #SUBSCRIBE_SECTION
 #FOOTER_SECTION
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #eeeeee;
  color: #303030;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1, h2 {
  margin: 0;
}

.cf,
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  color: rgba(60, 73, 85, 0.3);
}
::-moz-placeholder {
  color: rgba(60, 73, 85, 0.3);
} /* Firefox 19+ */
:-moz-placeholder {
  color: rgba(60, 73, 85, 0.3);
} /* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(60, 73, 85, 0.3);
}


/* #COMMON_LINKS */

a:link,
a:visited {
  text-decoration: none;
	transition: all 0.2s;	
	background-color: transparent
  border-bottom: transparent;
}

.special-link:hover,
.special-link:active {
  border-bottom: 2px solid #e10011;
  padding-bottom: 0.5em;
}


/* #HEADER */

.header {
  width: 100%;
  padding-top: 50px;
}

.header__logo,
.header__nav-menu,
.header__nav-menu ul li {
  display: inline-block;
}

.header a:link,
.header a:visited {
  font-family: "Roboto", sans-serif;
  color: #303030;
  text-transform: capitalize;
}

.header__logo {
  float: left;
}

.header__logo a:link,
.header__logo a:visited {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.header__logo a:hover,
.header__logo a:active {
  color: #e10011;
}

.header__nav-menu {
  float: right;
}

.header__nav-menu ul li:not(:last-child) {
  margin-right: 50px;
}


/* #MAIN_SECTION */

.main-section {
  width: 100%;
  padding-top: 90px;
}

.main-section__left-side {
  max-width: 50%;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  float: left;
}

.left-side__textarea {
  position: relative;
  left: -7px;
}

.left-side__textarea h1 {
  font-weight: 800;
  font-size: 150px;
  line-height: 150px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.left-side__textarea p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.left-side__textarea a:link,
.left-side__textarea a:visited {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #e10011;
  letter-spacing: 1px;
}

.main-section__right-side {
  text-align: center;
  float: right;
  padding-right: 130px;
}

.main-section__bot-box {
	width: 100%;
  padding: 90px 0;
  text-align: center;
}

.main-section__bot-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-section__bot-box ul li {
	display: inline-block;
}
.main-section__bot-box ul li a {
	display: block;
}

.main-section__bot-box ul li:not(:last-child) {
	margin-right: 15px;
}

.main-section__bot-box ul li a:link,
.main-section__bot-box ul li a:visited {
	border: 6px solid #303030;
	border-radius: 50%;
}

.main-section__bot-box ul li a:hover,
.main-section__bot-box ul li a:active {
	border-color: #e10011;
}


/* #FEATURED_SECTION */

.featured {
  width: 100%;
  border-radius: 5px;
	background-color: #fff;
}

.featured__top {
	padding-top: 60px;
  text-align: center;
  width: 100%;
}

.featured__top h2 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 800;
}

.featured__top p {
  width: 60%;
  margin: 0 auto;
  line-height: 24px;
}

.featured__icon {
  margin: 10px 0;
}

.featured__bot {
	display: block;
	padding: 60px 0;
	margin: 0 auto;
  width: 88%;
	list-style: none;
}

.featured__goods {
	display: inline-block;
}

.featured__link {
	display: block;
	height: 385px;
	position: relative;
}

.featured__link:after {
	content: "";
	background: #e10011;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity .5s ease;
}

.featured__link:hover:after {
	opacity: 1;
}

.good-a {
	margin-bottom: 35px;
}

.good-a:first-child {
	margin-right: 41px;
}

.good-b:not(:last-child) {
	margin-right: 35px;
}

/* #SUBSCRIBE_SECTION */

.subscribe {
  width: 100%;
  text-align: center;
}

.subscribe__textblock {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}
.subscribe__textblock h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.subscribe__form {
	position: relative;
  width: 70%;
  margin: 40px auto;
}

.subscribe__form::after {
	content: "";
	display: block;
	position: absolute;
	right: 100px;
	top: 50%;
	border: 7px solid transparent;
	border-left-color: #fff;

	transform: translateY(-50%);
}

.subscribe__form i {
	color: rgba(48, 48, 48, 0.3);
	position: absolute;
	left: 89px;
	top: 26px;
}

.subscribe__input-left,
.subscribe__input-right {
  display: inline-block;
}

.subscribe__input-left {
  width: 60%;
  padding: 25px 0 25px 60px;
  border: transparent;
  border-radius: 35px 0 0 35px;
  font-style: italic;
	font-weight: 700;
	color: #303030;
}

.subscribe__input-right {
  position: relative;
  left: -4px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  width: 25%;
  cursor: pointer;
  border: transparent;
  padding: 25px;
  color: #fff;
  border-radius: 0 35px 35px 0;
  background-color: #e10011;
  transition: all 0.2s;
}

.subscribe__input-right:hover {
	color: #303030;
}

/* #FOOTER_SECTION */

.footer {
  padding-top: 60px;
  text-align: center;
}

.footer__socials {
	display: block;
	list-style: none;
	padding: 0;
}

.footer__socials li {
	max-height: 70px;
	border-radius: 50%;
  display: inline-block;
  transition: all 0.2s;
}

.footer__socials li:hover {
	box-shadow: 0 5px 10px rgba(48, 48, 48, 0.3);
  transform: translateY(-6px);
}

.footer__socials li:not(:last-child) {
  margin-right: 40px;
}

.footer p {
  padding: 60px 0 20px;
}
.footer p span {
  color: rgba(48, 48, 48, 0.7);
}
