@font-face {
	font-family : 'Roboto';
	font-style : normal;
	font-weight : 400;
	font-display : swap;
	src : local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}

@font-face {	
	font-family : 'Roboto';
	font-style : normal;
	font-weight : 500;
	font-display : swap;
	src : local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}

@font-face {	
	font-family : 'Roboto';
	font-style : normal;
	font-weight : 900;
	font-display : swap;
	src : local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	font-size: 62.5%; //10px
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $dark-color;
}

// .container {
// 	max-width: 128.8rem;
// 	height: 100%;
// 	margin: 0 auto;
// 	padding: 0 2rem;

// 	@include respond(1600px) {
// 		max-width: 115.8rem;
// 	}
// }

// .sub-wrapper {
// 	max-width: 97rem;
// 	height: 100%;
// 	margin: 0 auto;
// 	padding: 0 2rem;
// }