*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100vh;	
	box-sizing: border-box;
	font-size: 62.5%; //10px
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
}

.section-container {
	max-width: 97rem;
	height: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}