.container {
	max-width: 128.8rem;
	padding: 0 1.5rem;
	margin: 0 auto;

	@include respond(1600px) {
		max-width: 115.8rem;
	}
	@include respond(1280px) {
		max-width: 98.4rem;
	}
	@include respond(768px) {
		max-width: 72.9rem;
	}
	@include respond(600px) {
		max-width: 40rem;
	}	
}

.row {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	clear: both;
}

.row-flex {
	display: flex;
	justify-content: center;
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

[class^="col-"] {
	float: left;
	padding: 0 1.5rem;
}

// .col-1 {
// 	width: calc(100% / 12);
// }

// .col-2 {
// 	width: calc(100% / 12 * 2);
// }

// .col-3 {
// 	width: calc(100% / 12 * 3);
// }

// .col-4 {
// 	width: calc(100% / 12 * 4);
// }

// .col-5 {
// 	width: calc(100% / 12 * 5);
// }

// .col-6 {
// 	width: calc(100% / 12 * 6);
// }

// .col-7 {
// 	width: calc(100% / 12 * 7);
// }

// .col-8 {
// 	width: calc(100% / 12 * 8);
// }

// .col-9 {
// 	width: calc(100% / 12 * 9);
// }

.col-10 {
	width: calc(100% / 12 * 10);

	@include respond(600px) {
		width: calc(100% / 12 * 12);
	}
}

// .col-11 {
// 	width: calc(100% / 12 * 11);
// }

// .col-12 {
// 	width: calc(100% / 12 * 12);
// }