.header {
	margin-bottom: 14rem;
	@include respond(1280px) {
		margin-bottom: 12rem;
	}	
	
	&-logo {
		position: relative;
		height: 100vh;

		@include respond(768px) {
			height: 70vh;
		}
		@include respond(600px) {
			height: 92vh;
		}	

		&::before {
			content: "";
			display: block;
			width: 37rem;
			height: 37rem;
			background-color: $main-color;
			border-radius: 50%;
			z-index: $z-index-high;
			box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
			position: absolute;
			left: -9rem;
			bottom: 57rem;

			animation-name: circle;
			animation-delay: .5s;
			animation-duration: 1s;
    	animation-timing-function: ease-out;
	
			@include respond(1600px) {
				width: 29.6rem;
				height: 29.6rem;
				left: -2rem;
    		bottom: 47rem;
			}
			@include respond(1280px) {
				width: 26.6rem;
				height: 26.6rem;
				left: -2rem;
				bottom: 43rem;
			}
			@include respond(768px) {
				width: 22.6rem;
				height: 22.6rem;
				left: -9rem;
				bottom: 30rem;
			}
			@include respond(600px) {
				width: 18.6rem;
				height: 18.6rem;
				left: -10rem;
				bottom: 26rem;
			}
		}

		&__text {
			color: $main-color;
			font-size: 2.8rem;
			font-weight: 500;
			position: absolute;
			z-index: $z-index-max;
			left: 1rem;
			bottom: 78.2rem;
			
			animation-name: logoToLeft;
			animation-delay: 1.2s;
			animation-duration: 1.3s;
    	animation-timing-function: ease-out;
		
			@include respond(1600px) {
				font-size: 2.2rem; 
				left: 6rem;
    		bottom: 64rem;
			}
			@include respond(1280px) {
				font-size: 2.1rem;
				left: 4rem;
				bottom: 57rem;
			}
			@include respond(768px) {
				color: $gray-color;
				font-size: 2.1rem;
				left: 5rem;
				bottom: 55rem;
			}
			@include respond(600px) {
				display: none;
			}

			&--primary {
				font-size: 4.8rem;
				font-weight: 900;
				letter-spacing: 2.5px;
				color: $white-color;				
				
				@include respond(1600px) {
					font-size: 3.7rem; 
				}
				@include respond(768px) {
					font-size: 4.8rem;
					color: $main-color;
				}
			}

			&--secondary {
				padding-left: 29rem;				
			}
		}

		&__text-mobile {
			display: none;
			color: $gray-color;
			font-size: 1.7rem;
			line-height: 2.5rem;
			font-weight: 500;
			padding-top: 8rem;
			padding-left: 2rem;
			width: 100%;

			animation-name: logoToLeft;
			animation-delay: 1.2s;
			animation-duration: 1.3s;
    	animation-timing-function: ease-out;

			@include respond(600px) {
				display: block;
			}

			&-primary {
			color: $main-color;
			font-size: 3.8rem;
			letter-spacing: .3rem;
			font-weight: 700;
			}
		}

		&__image-out,
		&__video {
			display: block;		
			position: absolute;
			left: 50%;
			transform: translate(-50%);
		}

		&__image-out {
			width: 124rem;
			bottom: 0;
			z-index: $z-index-high;

			animation-name: fade-in;
			animation-duration: 1s;
    	animation-timing-function: ease-out;

			@include respond(1600px) {
				width: 102rem;
			}
			@include respond(1280px) {
				width: 91.8rem;
			}
			@include respond(768px) {
				width: 72.8rem;
			}
			@include respond(600px) {
				width: 49.8rem;
				height: 33rem;
				left: 58%;
			}
		}	

		&__video {
			width: 100rem;
			height: 62rem;
			bottom: 2.5rem;
			z-index: $z-index-low;
			
			@include respond(1600px) {
				width: 85rem;
				height: 50rem;
			}
			@include respond(1280px) {
				width: 76.5rem;
				height: 45rem;
			}
			@include respond(768px) {
				width: 60.5rem;
				height: 35rem;
			}
			@include respond(600px) {
				width: 38rem;
				height: 29rem;
				left: 57%;
			}
		}
	}
}

