.section-info {
	min-height: 100%;
	margin-bottom: 19rem;

	@include respond(768px) {
		margin-bottom: 12rem;
	}
	@include respond(600px) {
		margin-bottom: 9rem;
	}
}

.info-list {
	padding-left: 16.5rem;
	margin-bottom: 20rem;

	@include respond(768px) {
		padding-left: 8.5rem;
	}
	@include respond(600px) {
		padding-left: 4rem;
		margin-bottom: 14rem;
		width: 31rem;
	}
	
	&__header {
		font-size: 4.8rem;
		font-weight: 900;
		color: $main-color;
		margin-bottom: 2.5rem;
	
		@include respond(1600px) {
			font-size: 4rem;
		}
		@include respond(1280px) {
			font-size: 3.8rem;
		}

		&::before {
			content: "";
			display: block;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			background-color: $main-color;
			float: left;
			margin-top: 2rem;
			margin-left: -5rem;

			@include respond(1600px) {
				margin-top: 1.4rem;
			}
			@include respond(1280px) {
				margin-top: 1.2rem;
			}
			@include respond(600px) {
				margin-left: -3.5rem;
			}
		}
	}

	&__text {
		font-size: 2rem;
		color: $gray-color;
		margin-bottom: 4rem;
		@include respond(600px) {
			font-size: 1.8rem;
		}
	}
}

.info-img {	
	position: relative;
	

	&__wrapper {
		display: flex;
		justify-content: center;
		@include respond(600px) {
			max-width: 34.5rem;
			@include cite-shadow;
			overflow: hidden;
		}
	}

	&__example {
		display: block;
		width: 93rem;		
		@include cite-shadow;

		@include respond(1600px) {
			width: 83.7rem;		
		}
		@include respond(1280px) {
			width: 75.3rem;		
		}
		@include respond(768px) {
			width: 57.7rem;	
		}
		@include respond(600px) {			
			width: 41.5rem;
		}
	}

	&::after {
		content: "";
		display: block;
		width: 29.2rem;
		height: 29.2rem;
		border-radius: 50%;
		background-color: $main-color;
		position: absolute;
		top: -13rem;
		right: -8rem;
		z-index: $z-index-low;

		@include respond(1600px) {
			width: 26.2rem;
			height: 26.2rem;
		}
		@include respond(1280px) {
			width: 23.5rem;
			height: 23.5rem;
			top: -11rem;
    	right: -9rem;
		}
		@include respond(768px) {
			width: 18.5rem;
			height: 18.5rem;
			top: -9rem;
			right: -9rem;
		}
		@include respond(600px) {
			width: 14.5rem;
			height: 14.5rem;
			top: -4rem;
			right: -9rem;
		}
	}

	&::before {
		content: "";
		display: block;
		width: 38.2rem;
		height: 38.2rem;		
		background-image: url('../img/cite-block_1e.png');
		background-size: cover;
		position: absolute;
		top: -12rem;
    left: 11rem;
		z-index: $z-index-max;

		@include respond(1600px) {
			width: 34.3rem;
			height: 34.3rem;
		}
		@include respond(1280px) {
			width: 30.8rem;
			height: 30.8rem;
			left: 8rem;
		}
		@include respond(768px) {
			width: 25.8rem;
			height: 25.8rem;
			top: -10rem;
			left: 2rem;
		}
		@include respond(768px) {
			width: 16.5rem;
			height: 16.5rem;
			top: -5rem;
			left: 0.5rem;
		}
	}
}

