$main-color: #68cbc5;
$white-color: #fff;
$gray-color: #808080;
$dark-color: #212020;

$z-index-low: -1;
$z-index-mid: 2;
$z-index-high: 5;
$z-index-max: 10;

@mixin mobile-shadow {
	border-radius: 5rem;
	box-shadow: 3rem 3rem 2rem rgba(0, 0, 0, 0.1);
}

@mixin cite-shadow {
	box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@keyframes circle {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes logoToLeft {
	0% {
		opacity: 0;
		transform: translateX(12rem);
	}
	70% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;		
	}
}

[data-aos="info"] {
	letter-spacing: -0.5em;
	opacity: 0;
	
	&.aos-animate {
		letter-spacing: normal;
		opacity: 1;
	}
}

[data-aos="scale-in"] {
	transform: scaleY(0);
  transform-origin: 100% 0%;
  opacity: 1;
	
	&.aos-animate {
		transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
	}
}

@mixin respond ($breakpoint) {
	@if $breakpoint==1600px {
		@media only screen and (max-width: 100em), (max-height: 56.25em) {
			@content
		};
	}

	@if $breakpoint==1280px {
		@media only screen and (max-width: 80em), (max-height: 48em){
			@content
		};
	}

	@if $breakpoint==768px {
		@media only screen and (max-width: 48em){
			@content
		};
	}

	@if $breakpoint==600px {
		@media only screen and (max-width: 37.5em){
			@content
		};
	}
}