$main-color: #68cbc5;
$white-color: #fff;
$gray-color: #808080;


@mixin respond ($breakpoint) {
	@if $breakpoint==notepad {
		@media only screen and (max-width: 1600px), (max-height: 900px) {
			@content
		};
	}
}