.booking {
	width: 100%;
	min-height: 700px;
	background: $white-color url(../img/house.jpg) no-repeat 50% 50%;
	background-size: cover;
	color: $light-color;
	padding-top: 15%;

	&-section {
		height: 370px;
		background-color: rgba($dark-grey-color, .6);
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 50px 30px;

		&__span {
			font-size: 20px;
			letter-spacing: 2px;
		}

		&__title > * {
			text-transform: uppercase;
			font-size: 20px;
			color: $white-color;
		}

		&__text {
			line-height: 26px;
		}
	}
}