$font-raleway: 'Raleway', sans-serif;
$font-pacifico: 'Pacifico', cursive; 

$section-2-bgcolor: #00b9b9;
$section-3-bgcolor: #70bfff;
$section-4-bgcolor: #ffe92f;
$section-5-bgcolor: #ffffff;
$section-6-bgcolor: #b07cf7;
$dark-color: #262626;
$white-color: #fff;

$header-btn: #ff6033;
$gallery-btn: #5585a2;
$subscribe-btn: #96b92c;
$blog-btn: #f72b3b;
$contact-form: #00c4c4;