/* MAP
	#COMMON
	#HEADER
	#LEFT-SECTION
	#RIGHT-SECTION
 */

@font-face {
	font-family: "Museo Sans Rounded";
	src: url("../fonts/museosansrounded-300-webfont.eot"),
		url("../fonts/museosansrounded-300-webfont.ttf"),
		url("../fonts/museosansrounded-300-webfont.woff");
	font-weight: 300;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .3s;
}

.cf,
.cf:before,
.cf:after {
	content: "";
	display: table;
	clear: both;
}

ul {
	list-style: none;
}

a {
	display: block;
}

a:link,
a:visited {
	text-decoration: none;
	color: rgba(225, 225, 225, 0.5);
}

html,
body {
	height: 100vh;
}

body {
	font-family: "Museo Sans Rounded", sans-serif;
	font-size: 14px;
	letter-spacing: 0;
	background-color: #313131;
	color: rgba(225, 225, 225, 0.5);
	padding-top: 150px;
}

.container {
	max-width: 800px;
	height: 600px;
	background: url(../img/main_bg.jpg) 0 0 no-repeat;
	background-size: cover;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(16, 108, 151, 0.2);
	position: relative;
}

/* #HEADER */

.main-card {
	width: 680px;
	height: 380px;
	background-color: #111a28;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.main-card__logo {
	padding: 20px 0 0 15px;
}

.main-card__logo a {
	display: inline-block;
}

.main-card__item {
	width: 100%;
}

/* #LEFT-SECTION */

.item__section-left {
	width: 64%;
	padding-top: 70px;
	float: left;
	text-align: center;
}

.item__block {
	display: inline-block;
}

.item__shoes {
	margin-bottom: 50px;
}

.item__scroll ul li {
	display: inline-block;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 50%;
}

.scroll--black {
	border-radius: 50%;
	border: 5px solid #1f273f;
}

.scroll--white {
	border-radius: 50%;
	border: 5px solid #e1e1e1;
}

.scroll--red {
	border-radius: 50%;
	border: 5px solid #ed3333;
}

.scroll--blue {
	border-radius: 50%;
	border: 5px solid #29e3ea;
}

.item__scroll ul li:hover {
	border: 1px solid #fff;
	transform: scale(1.3);
}

/* #RIGHT-SECTON */

.item__section-right {
	width: 34%;
	padding-top: 20px;
	float: right;
}

.item__section-right h2 {
	font-size: 24px;
	color: #e1e1e1;
	margin-bottom: 15px;
}

.item__section-right p {
	text-transform: capitalize;
}

.item__section-right p,
.item__rating,
.options__label {
	margin-bottom: 20px;
}

.item__rating ul li {
	display: inline-block;
	margin-right: 2px;
	font-size: 16px;
}

.yellow-star:link,
.yellow-star:visited {
	color: #cb9f19;
}

.item__rating ul li a:active {
	color: #cb9f19;
}

.options * {
	color: #adafb3;
}

.options__label {
	display: inline-block;
	position: relative;
	width: 70px;
}

.options__label::after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	border: 1px solid transparent;
	border-left-color: #575d66;
	border-bottom-color: #575d66;
	position: absolute;
	z-index: 0;
	top: 36%;
	right: 15px;
	transform: rotate(-45deg);
	cursor: pointer;
}

.options__label--open::after {
	transform: rotate(135deg);
	top: 45%;
}

.options__select {
	background: none;
	border: 1px solid #575d66;
	text-transform: capitalize;
	padding: 10px;
	width: 100%;
	position: relative;
	z-index: 1;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.options__btn {
	background: none;
	border: 1px solid #575d66;
	display: block;
	width: 80%;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.options__btn:hover {
	background: rgba(255, 255, 255, .1);
}
